/* Edits for only the homepage */
body {
    display: block;
    border: 10px blue;
    border-width: medium;
    background-image: linear-gradient(to bottom right, rgb(158, 168, 244), rgb(233, 233, 170));
    padding: 10px;
}

.logo {
    width: 1in;
  }

.welcome-sign {
    border: 10px rgb(224, 170, 53) ridge;
    border-radius: 15px;
    background-color: #0B3C6B;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.image-fade {
    border: 10px rgb(224, 170, 53) ridge;
    border-radius: 15px;
    background-color: #0B3C6B;
}

.arrow:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.img-slide {
    height: 400px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    background-color: #80808075;
    margin-bottom: 10%;
    width: 99%;
    font-size: 40px;
    color: gold;
    font-family: "Times New Roman", Times, serif;
}

.links {
    border: 10px rgb(224, 170, 53) ridge;
    border-radius: 15px;
    background-color: #0B3C6B;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

ul#list li {
    font-size: 20px;
    display: inline;
    padding: 10px;
}

ul li:hover {
    cursor: pointer;
    color: #fef077;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fef077,
        0 0 82px #fef077,
        0 0 92px #fef077,
        0 0 102px #bdb037,
        0 0 151px #bdb037;
}

.news {
    border: 10px rgb(224, 170, 53) ridge;
    border-radius: 15px;
    text-align: center;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    background-image: conic-gradient(#0B3C6B, #0B3C6B, gold, #0B3C6B);
}

.tab-content {
    border: 10px rgb(224, 170, 53) ridge;
    border-radius: 15px;
    text-align: center;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    background-image: conic-gradient(#0B3C6B, gold, #0B3C6B, #0B3C6B);
}

.pages {
    border: 10px rgb(224, 170, 53) ridge;
    border-radius: 15px;
    background-image: linear-gradient(gold, #0B3C6B, #0B3C6B);
    text-align: center;
    padding: 40px;
    word-spacing: 20px;
}

.twitter-timeline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 30px;
  font-style: italic;
}

.indent {
    display: flex;
}

.indent section {
    flex: 1;
    margin-right: 20px;
}

.italic {
    font-style: italic;
}

.tab-pane a {
    color: white;
}

/* Styles for the table */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
    }
    
    /* Styles for table header cells and table data cells */
    th, td {
    border: 1px solid #000;
    padding: 8px;
    }
    
    /* Styles for the table header row */
    thead {
    background-color: #dedddd;
    }

/*In progress*/
.inner-section-box {
    border: 5px solid gold;
    padding: 10px;
    background-color: #0B3C6B;
    width: 600px;
    align-content: center;
}

.inner-section-box img{
    max-width: 100%;
    height: auto;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
  }
  
  .photo-grid img {
    width: 100%;
    height: auto;
  }
  