/* Edits for only the homepage */
body {
    display: block;
    border: 10px blue;
    border-width: medium;
    background-image: linear-gradient(to bottom right, rgb(158, 168, 244), rgb(233, 233, 170));
    padding: 10px;
}

.logo {
    width: 1in;
  }

.welcome-sign {
    border: 10px rgb(224, 170, 53) solid;
    border-width: medium;
    background-color: #0B3C6B;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.image-fade {
    border: 10px rgb(224, 170, 53) solid;
    border-width: medium;
    background-color: #0B3C6B;
}

.img-slide {
    height: 400px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    background-color: #80808075;
    margin-bottom: 10%;
    width: 99%;
    font-size: 40px;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    
}

.links {
    border: 10px rgb(224, 170, 53) solid;
    border-width: medium;
    background-color: #0B3C6B;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

ul#list li {
    font-size: 20px;
    padding-left: 20px;
    display: inline;
}

.news {
    border: 10px rgb(224, 170, 53) solid;
    border-width: medium;
    border-width: medium;
    text-align: center;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    background-image: conic-gradient(#0B3C6B, #0B3C6B, gold, #0B3C6B);
}

.tab-content {
    border: 10px rgb(224, 170, 53) solid;
    border-width: medium;
    text-align: center;
    color: gold;
    font-family: "Times New Roman", Times, serif;
    background-image: conic-gradient(#0B3C6B, gold, #0B3C6B, #0B3C6B);
}

.pages {
    border: 10px rgb(224, 170, 53) solid;
    border-width: medium;
    background-image: linear-gradient(gold, #0B3C6B, #0B3C6B);
    text-align: center;
    padding: 40px;
    word-spacing: 20px;
}

.twitter-timeline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 30px;
  font-style: italic;
}

.indent {
    display: flex;
}

.indent section {
    flex: 1;
    margin-right: 20px;
}

.italic {
    font-style: italic;
}